/* purgecss start ignore */
@tailwind base;
@tailwind components;

.btn {
  @apply px-4 py-2 tracking-wide uppercase;
}

.btn-primary {
  @apply text-white bg-indigo-600 border border-indigo-600;
}

.btn-primary:hover {
  @apply bg-indigo-400;
}

.btn-secondary {
  @apply text-indigo-600 bg-white border border-indigo-600;
}

.btn-secondary:hover {
  @apply bg-gray-200;
}

.btn-text {
  @apply bg-transparent;
}

.btn-danger {
  @apply text-white bg-red-500 border border-red-500
}
/* purgescss end ignore */
@tailwind utilities;
